{% extends 'base.html' %}
{% load static %}

{% block title %}Kategoriya mahsulotlari{% endblock %}

{% block body %}
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Kompaniyamiz tomonidan taklif qilinadigan hizmatlar</p>
            <h2>Sara <span class="section-intro__style">Hizmatlar</span></h2>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="row">
            {% for i in product %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">

                    <div class="card-product__img">
                        <img class="card-img" src="{{i.image.url}}" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><a href="{% url 'product_detail' i.id %}"><i class="ti-search"></i></a></li>
                            <li><a href="{% url 'addtoshopcart' i.id %}"><i class="ti-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>{{i.category}}</p>
                        <h4 class="card-product__title"><a href="/product-detail/{{i.id}}/">{{i.title}}</a></h4>
                        <p class="card-product__price">${{i.price|safe}}</p>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}