{% extends 'base.html' %}
{% load static %}

{% block title %}Bog'lanish{% endblock %}

{% block banner %}
<!-- ================ start banner area ================= -->
<section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px"
    data-top-bottom="background-position: 0 20px">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="offer__content text-center">
                    <h3>Up To 50% Off</h3>
                    <h4>Winter Sale</h4>
                    <p>Him she'd let them sixth saw light</p>
                    <a class="button button--active mt-3 mt-xl-4" href="{% url 'all_products' %}">Buyurtma qilish</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 col-lg-3 mb-4 mb-md-0 mt-3 ml-5">
        {% for i in setting %}
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
                <h3>{{i.title}}</h3>
                <p>{{i.description}}</p>
            </div>
        </div>
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-headphone"></i></span>
            <div class="media-body">
                <h3>{{i.phone}}</h3>
                <p>Dushanbadan shanbagacha soat 6:00 dan 18:00 gacha</p>
            </div>
        </div>
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
                <h3>{{i.email}}</a></h3>
                <p>Istalgan vaqt aloqaga chiqing!</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-8 col-lg-8 mt-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <form action="{% url 'contact' %}" class="form-contact contact_form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group mt-3">
                        <input class="form-control" name="name" type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="email" type="email"
                            placeholder="Enter email address" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="subject"  type="text" placeholder="Enter Subject" required>
                    </div>
                </div>
                <div class="col-lg-7 mt-3">
                    <div class="form-group">
                        <textarea class="form-control different-control w-100" name="message" cols="30"
                            rows="5" placeholder="Enter Message" required></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group text-center text-md-right mt-3">
                <button type="submit" class="button button--active button-contactForm">Yuborish</button>
            </div>
        </form>
    </div>
</div>
</div>
</section>
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Kompaniyamiz tomonidan taklif qilinadigan hizmatlar</p>
            <h2>Sara <span class="section-intro__style">Hizmatlar</span></h2>
        </div>
        <div class="owl-carousel owl-theme" id="bestSellerCarousel">
            {% for i in product_picked %}
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="{{i.image.url}}" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><a href="{% url 'product_detail' i.id %}"><i class="ti-search"></i></a></li>
                        <li><a href="{% url 'addtoshopcart' i.id %}"><i class="ti-heart"></i></a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>{{i.category}}</p>
                    <h4 class="card-product__title"><a href="/product-detail/{{i.id}}/">{{i.title}}</a></h4>
                    <p class="card-product__price">${{i.price|safe}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
<!-- ================ contact section end ================= -->
{% endblock %}