{% load static %}
<!--================ Start Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand logo_h" href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item"><a class="nav-link" href="/" id="Home">Asosiy</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false" id="Categories">Kategoriyalar</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'all_products' %}"> Barcha servislar</a></li>
                {% for i in category %}
                <li class="nav-item"><a class="nav-link"
                    href="{% url 'category_products' i.id i.slug %}">{{i.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}" id="About">Biz haqimizda</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'post' %}" id="News">Yangiliklar</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'lic' %}" id="Licenses">Litsenziyalar</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Bog'lanish</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Sahifalar</a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Shaxsiy Profil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'userlogout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Ro'yhatdan o'tish</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'userlogin'%}">Login</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>

          <ul class="nav-shop">
            <li class="nav-item"><input type="search" style="border-radius: 20px; border-color: rgb(123, 170, 241);"
                name="query"><a href="{% url 'search' %}" style="margin-left: 10px;"><i class="ti-search"></i></a></input></li>
            <li class="nav-item"><a href="{% url 'shopcart' %}"><i class="ti-heart"></i></a><span
                class="nav-shop__circle">3</span></li>
            <li class="nav-item"><a class="button button-header" href="{% url 'shopcart' %}">Buyurtma qilish</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================ End Header Menu Area =================-->