{% extends 'base.html' %}
{% load static %}

{% block title %}Shopcart{% endblock %}

{% block body %}
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Hizmat</th>
                            <th scope="col">Narxi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in shopcart %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{i.product.image.url}}" alt="" style="height: 100px;">
                                    </div>
                                    <div class="media-body">
                                        <p>{{i.product.title}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{i.product.price}}</h5><br><a href="{% url 'delete_from_cart' i.id %}"
                                    class="btn btn-danger">Ro'yhatdan o'chirish</a>
                            </td>

                        </tr>
                                                
                        {% endfor %}
                        <tr>
                            <td><h4>Jami : ${{total}}</h4></td>
                            {% if total > 0 %}
                            <td><a href="{% url 'orderproduct' %}" class="btn btn-primary">Buyurtma qilish</a></td>
                            {% else %}
                            <td>Shopcart hozircha bo'sh!</td>
                            {% endif %}
                        </tr>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
{% endblock %}